<template>
  <div class="main-block">
    <img
      class="main-block__background-img"
      src="@/assets/img/heavens.png"
      alt=""
    />
    <div class="header">
      <div class="header__logo">
        <svg
          width="183"
          height="26"
          viewBox="0 0 183 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.0724 14.0934H5.77233V21.0334H0V3.20718H5.77324V9.69673H7.19221L10.3681 3.20718H16.2377L12.1474 11.5501L16.863 21.0334H10.5113L7.07153 14.0934H7.0724ZM26.7733 14.5207H26.4364L22.7803 17.6818V21.0334H17.2477V6.77242H22.7803V12.1439H23.2615L26.7733 9.10119V6.77242H32.306V21.0334H26.7742V14.5207H26.7733ZM43.5165 15.9949H39.7631V21.0334H34.2313V6.77242H39.7631V11.6213H43.5165V6.77242H49.0484V21.0334H43.5165V15.9949ZM58.1894 6.5107C59.1839 6.5107 60.1055 6.66202 60.9552 6.96205C61.7856 7.25061 62.5384 7.72218 63.157 8.34097C63.7741 8.95875 64.2596 9.73147 64.6123 10.6582C64.965 11.5857 65.1416 12.6664 65.1416 13.9029C65.1416 15.1545 64.965 16.2441 64.6123 17.1708C64.2596 18.0975 63.7741 18.8667 63.157 19.4764C62.5389 20.0868 61.791 20.5536 60.9678 20.8429C60.0915 21.1499 59.1675 21.303 58.2381 21.2951H57.4921C56.4648 21.2951 55.5191 21.1438 54.6539 20.8429C53.8143 20.5582 53.0495 20.0913 52.4159 19.4764C51.7906 18.8667 51.3013 18.0975 50.9491 17.1708C50.5958 16.2441 50.4197 15.1545 50.4197 13.9029C50.4197 12.6664 50.5958 11.5857 50.9491 10.6582C51.3013 9.73147 51.7872 8.95875 52.4044 8.34097C53.0225 7.72228 53.7752 7.25075 54.6052 6.96205C55.4559 6.66115 56.3857 6.5107 57.3956 6.5107H58.1894ZM57.8767 16.7311C58.4866 16.7311 58.9793 16.4898 59.3561 16.0064C59.7335 15.5231 59.9216 14.8225 59.9216 13.9029C59.9216 12.9842 59.7325 12.2827 59.3561 11.7994C58.9793 11.316 58.4866 11.0748 57.8767 11.0748H57.6846C57.0434 11.0748 56.5377 11.316 56.1695 11.7994C55.7999 12.2827 55.6161 12.9834 55.6161 13.9029C55.6161 14.8216 55.7999 15.5231 56.1695 16.0064C56.5386 16.4898 57.0434 16.7311 57.6846 16.7311H57.8767ZM66.2727 3.20718H81.6677V21.0334H75.8947V7.84242H72.0456V21.0334H66.2727V3.20718ZM90.5684 6.5107C91.5619 6.5107 92.4845 6.66202 93.3342 6.96205C94.1642 7.25056 94.9169 7.72208 95.535 8.34097C96.1522 8.95875 96.6381 9.73147 96.9903 10.6582C97.3435 11.5857 97.5201 12.6664 97.5201 13.9029C97.5201 15.1545 97.3435 16.2441 96.9903 17.1708C96.6381 18.0975 96.1522 18.8667 95.535 19.4764C94.9169 20.0869 94.1695 20.5537 93.3458 20.8429C92.5043 21.1438 91.5942 21.2951 90.6161 21.2951H89.8702C88.8438 21.2951 87.8971 21.1438 87.0319 20.8429C86.1923 20.5581 85.428 20.0912 84.7949 19.4764C84.1686 18.8667 83.6803 18.0975 83.3266 17.1708C82.9748 16.2441 82.7978 15.1545 82.7978 13.9029C82.7978 12.6664 82.9744 11.5857 83.3276 10.6582C83.6803 9.73147 84.1652 8.95875 84.7824 8.34097C85.4005 7.72228 86.1533 7.25075 86.9832 6.96205C87.8339 6.66115 88.7637 6.5107 89.7737 6.5107H90.5684ZM90.2557 16.7311C90.8646 16.7311 91.3573 16.4898 91.7351 16.0064C92.1115 15.5231 92.2997 14.8225 92.2997 13.9029C92.2997 12.9834 92.1115 12.2827 91.7351 11.7994C91.3573 11.316 90.8646 11.0748 90.2557 11.0748H90.0627C89.4214 11.0748 88.9157 11.316 88.5476 11.7994C88.1779 12.2827 87.9941 12.9834 87.9941 13.9029C87.9941 14.8216 88.1779 15.5231 88.5476 16.0064C88.9167 16.4898 89.4214 16.7311 90.0627 16.7311H90.2557ZM108.417 14.5207H108.08L104.424 17.6818V21.0334H98.891V6.77242H104.424V12.1439H104.905L108.417 9.10206V6.77242H113.95V21.0334H108.417V14.5207ZM130.138 14.64C130.091 15.8124 129.882 16.8183 129.513 17.6578C129.145 18.4981 128.656 19.1916 128.046 19.7382C127.43 20.2885 126.699 20.6982 125.905 20.9382C125.087 21.1919 124.197 21.3183 123.234 21.3183H122.489C121.463 21.3183 120.513 21.1643 119.639 20.8554C118.79 20.5625 118.018 20.0876 117.378 19.4649C116.744 18.8462 116.25 18.0744 115.898 17.1468C115.545 16.221 115.377 15.1385 115.393 13.9029C115.409 12.6664 115.594 11.5857 115.946 10.6582C116.299 9.73147 116.784 8.95875 117.401 8.34097C118.021 7.72141 118.774 7.24636 119.603 6.95047C120.453 6.64156 121.382 6.48759 122.393 6.48759H123.187C124.133 6.48759 125.018 6.61753 125.844 6.87925C126.643 7.12529 127.381 7.53409 128.01 8.07925C128.627 8.61871 129.124 9.28812 129.502 10.0875C129.878 10.8887 130.091 11.819 130.138 12.881H124.871C124.791 12.2783 124.57 11.827 124.21 11.5261C123.848 11.2252 123.403 11.0748 122.874 11.0748H122.657C122.032 11.0748 121.535 11.316 121.166 11.7994C120.798 12.2827 120.613 12.9834 120.613 13.9029C120.613 14.8216 120.798 15.5231 121.166 16.0064C121.535 16.4898 122.032 16.7311 122.657 16.7311H122.874C123.436 16.7311 123.9 16.553 124.269 16.1969C124.638 15.84 124.847 15.321 124.895 14.6391H130.138V14.64ZM138.005 15.662H136.995V21.0334H131.462V6.77242H136.995V11.7638H138.029L140.819 6.77242H146.568L142.864 13.4044L147.29 21.0334H141.132L138.005 15.662Z"
            fill="#1D1F20"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M167.679 0.121082C176.059 -0.777848 182.395 3.41716 182.395 9.75964C182.395 16.5765 176.564 23.0438 165.709 25.0914L169.37 6.63832L173.257 7.31255L170.834 19.6229C174.898 17.9998 178.003 14.479 178.053 10.3839C178.129 5.36483 172.98 3.39219 166.871 4.21621L167.679 0.121082ZM155.461 20.8964L156.761 14.3042H160.826L158.919 23.9178L162.832 24.592L166.492 6.13895L162.579 5.46471L161.539 10.7085H157.47L158.869 3.61693L155.006 2.89279L153.456 10.7085H149.579V14.3042H152.742L151.573 20.1972L155.461 20.8964ZM152.742 14.3042L153.456 10.7085H157.47L156.761 14.3042H152.742ZM161.539 10.7085H162.655V14.3042H160.826L161.539 10.7085Z"
            fill="#1D1F20"
          />
        </svg>
      </div>
    </div>
    <div class="title">
      они должны что-то знать
    </div>
    <div class="container">
      <svg
        class="container__btn container__btn--left"
        width="41"
        height="41"
        viewBox="0 0 41 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        @click="leftScroll()"
      >
        <circle cx="20.4639" cy="20.4237" r="19.7997" stroke="#333333" />
        <path d="M11.9639 20.3884H27.1642" stroke="#333333" />
        <path
          d="M25.4482 22.0823L27.1689 20.3616L25.4482 18.6708"
          stroke="#333333"
        />
      </svg>
      <div class="container__scroll" ref="scroll">
        <div class="card">
          <img src="@/assets/img/racer.png" alt="" class="card__img" />
          <div class="card__text">
            Для примера мы показали вам его лицо. В первой серии он прячется в
            подвале за мониторами, и пусть борода не собьёт вас с толку. Найдите
            героя и нажмите на паузу — ему не терпится отдать вам промокод.
          </div>
        </div>
        <div class="card">
          <img src="@/assets/img/racer.png" alt="" class="card__img" />
          <div class="card__text">
            Для примера мы показали вам его лицо. В первой серии он прячется в
            подвале за мониторами, и пусть борода не собьёт вас с толку. Найдите
            героя и нажмите на паузу — ему не терпится отдать вам промокод.
          </div>
        </div>
        <div class="card">
          <img src="@/assets/img/racer.png" alt="" class="card__img" />
          <div class="card__text">
            Для примера мы показали вам его лицо. В первой серии он прячется в
            подвале за мониторами, и пусть борода не собьёт вас с толку. Найдите
            героя и нажмите на паузу — ему не терпится отдать вам промокод.
          </div>
        </div>
      </div>

      <svg
        class="container__btn container__btn--right"
        width="41"
        height="41"
        viewBox="0 0 41 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        @click="rightScroll()"
      >
        <circle cx="20.4639" cy="20.4237" r="19.7997" stroke="#333333" />
        <path d="M11.9639 20.3884H27.1642" stroke="#333333" />
        <path
          d="M25.4482 22.0823L27.1689 20.3616L25.4482 18.6708"
          stroke="#333333"
        />
      </svg>
    </div>
    <div class="footer">
      <div class="footer__container">
        <span class="footer__text"> Искать промокод</span>
        <svg
          width="28"
          height="5"
          viewBox="0 0 28 5"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0.370911 2.8553L26.7406 2.8553" stroke="#333333" />
          <path
            d="M25.0246 4.54921L26.7453 2.8285L25.0246 1.13766"
            stroke="#333333"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
  methods: {
    leftScroll() {
      const cardWidth = this.$refs.scroll.children[0].offsetWidth;
      this.$refs.scroll.scrollLeft -= cardWidth;
    },
    rightScroll() {
      const cardWidth = this.$refs.scroll.children[0].offsetWidth;
      this.$refs.scroll.scrollLeft += cardWidth;
    },
  },
};
</script>

<style lang="scss" scoped>
.main-block {
  display: flex;
  flex-direction: column;
  background: #dce8f3;
  &__background-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
  }
}

.header {
  height: 5vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  &__logo {
    z-index: 101;
  }
}

.title {
  height: 10vh;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(30px, 45px, 3vw);
  text-align: center;
  letter-spacing: -0.692308px;
  text-transform: uppercase;
  color: #ffcc64;
  margin-top: 4vh;
  z-index: 101;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;

  &__btn {
    position: absolute;
    cursor: pointer;
    z-index: 101;

    &--left {
      left: 12vw;
      transform: rotate(180deg);
    }
    &--right {
      right: 12vw;
    }
  }

  &__scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 30vw;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  min-width: 30vw;
  scroll-snap-align: start;
  &__img {
    position: absolute;
    max-height: 45vh;
    max-width: 80vw;
  }

  &__text {
    max-width: 60vw;
    font-family: KinopoiskLight;
    font-size: clamp(14px, 20px, 1.25vw);
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    margin-top: 25vh;
    z-index: 101;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 15vh;
  z-index: 101;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    margin-right: 1vw;
    font-family: KinopoiskLight;
    font-size: clamp(13px, 15px, 1vw);
    text-align: center;
    color: #333333;
  }
}
</style>
