@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-bold.woff2");
}
@font-face {
    font-family: "KinopoiskLight";
    src: url("../fonts/kinopoisk-light.woff2");
    // src: url("../fonts/kinopoisk-lite.woff2");
    // src: url("../fonts/kinopoisk-medium.woff2");
    // src: url("../fonts/kinopoisk-regular.woff2");
    // src: url("../fonts/kinopoisk-semibold.woff2");
    // src: url("../fonts/kinopoisk-bold.woff2");
}

body {
    margin: 0;
    padding: 0;
    background: gray;
}